*.html linguist-detectable=false
*.ts linguist-detectable=false
*.scss linguist-detectable=false
*.css linguist-detectable=false
*.vue linguist-detectable=false
*.md linguist-detectable=true
*.md linguist-documentation=false